<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<h2>Información sobre el autor</h2>
      <p><%=name%></p>
      <div>
        <img class="authorPhoto" src="<%=urlPhoto%>" alt="foto del autor">
      </div>
      <div>
        <iframe width="50%" height="50%" frameborder="0" allowfullscreen="" src="<%=urlVideo%>"></iframe>
      </div>
  </body>
</html>