* { margin:0; padding: 0;}
body { font:16px Georgia, serif;}

#page-wrap { margin: 2% auto;}
#page-wrap > .main {border: 1px solid #999; padding: 1%; margin-bottom: 1px; color:black;}
/*.container { display:block; overflow: auto;}*/

section > div {padding: 20px;}
header, nav, section { background: #eee; text-align: center;}
footer { background: #eee; text-align: center;}
nav span {margin: 5px 10px 5px 0 ; display: block;}

p {
	margin: 10px;
}

#section1, #nav1{ height: 400px;}

.authorPhoto{
	width: 100px;
	height: 100px;
	margin: 10px;
}